<div id="info">
  <h3><%= title %></h3>
  <p>Miguel Ángel López Rodríguez</p>
</div>
<div id="img">
  <img src="/images/autor.png" />
</div>
<div id="vid">
  <h3>Este vídeo no es representativo del autor, pero es divertido</h3>
  <video src="/videos/vid.mp4" controls autoplay>
    Your browser does not support the <code>video</code> element.
  </video>
</div>
