<form method="get" action="">
  <label for="search">Buscar pregunta: </label>
  <input type="text" name="search" />
  <input type="submit" value="Buscar" />
</form>

<%
if (quizes.length) {
%>

<ul>
  <% for(var i=0; i < quizes.length; i++) { %>
    <li>
      <a href="/quizes/<%= quizes[i].id %>">
        <%= quizes[i].pregunta %>
      </a>
    </li>
  <% } %>
</ul>

<%
}
else {
%>

<p>Los sentimos, no hay preguntas que coincidan con los términos de búsqueda introducidos.</p>

<%
}
%>
