<form method="get" action="/quizes">
  <p>
    <label for="search">Buscar pregunta: </label>
  </p>
  <input type="text" name="search" />
  <input type="submit" value="Buscar" />
</form>

<%
if (quizes.length) {
%>

<ul>
  <% for(var i=0; i < quizes.length; i++) { %>
    <li>
      <a href="/quizes/<%= quizes[i].id %>">
        <%= quizes[i].pregunta %>
      </a>
      <a href="/quizes/<%= quizes[i].id %>/editar">
        <button>Editar</button>
      </a>
    </li>
  <% } %>
</ul>

<%
}
else {
%>

<p>Lo sentimos, no hay preguntas para mostrar</p>

<%
}
%>

<a href="/quizes/nueva"><button type="button">Crear nueva pregunta</button></a>
