<form method="get" action="/quizes/respuesta">
  <p>
    <label for="respuesta">Pregunta: <%= pregunta %></label>
  </p>
  <input type="text" name="respuesta" placeholder="Su respuesta"/>  
  <input type="submit" value="Enviar" />
</form>
